InputGlyphControl {

    Image {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    .description {
        color: white;
        font-family: Poppins;
        font-size: 24px;
        margin: 5px;
    }
}