InputGlyphControl {
    align-items: center;
    margin: 10px;

    Image {
        height: 30px;
        width: 30px;
        margin: 0px 10px 0px 15px;
    }

    .description {
        color: white;
        font-family: Poppins;
        font-size: 24px;
        margin: 5px;
    }
}